header.header
    .header_top
        .wrap
            .wrap_header.wrap_flex
                p.phone.header_phone
                    i.fas.fa-phone-alt.main_color
                    | 8 800 00 00
                .user_admin.wrap_flex
                    .change_val.wrap_flex
                        .block_change_val
                            i.fa.fa-dollar-sign
                        .block_arrow
                            i.arrow.down
                    .personal
                        a(href="#")
                            i.fa.fa-user
                            | Личный кабинет
    .header_center
        .wrap
            .wrap_header.center
                .block_logo
                    p.logo.header_logo
                        span.upper My
                        span.main_color Shop
                .block_search
                    form(action="#")
                        .wrap_form
                            input(type="text", name="search" placeholder="Название продукта")
                            select(name="category")
                                option(value="all_category") Все категории
                                option(value="computers") Компьютеры и периферия
                                option(value="notebooks") Ноутбуки и планшеты
                                option(value="game") Игры и приставки
                                option(value="audio") Аудиотехника
                                option(value="photo") Фото и видео
                                option(value="smartphone") Смартфоны
                                option(value="TV") Телевизоры
                                option(value="components") Комплектующие для ПК
                            button
                                i.fa.fa-search
                .block_cart
                    .like
                        i.fa.fa-heart
                        .block_counter
                            p 0
                    .cart
                        a(href="#")
                            i.fas.fa-shopping-bag
                        .block_counter
                            p 0
                    .sum
                        i.fas.fa-ruble-sign
                        p 310 000



                                                                    
