header.header
    .header_top
        .wrap
            .wrap_header.wrap_flex
                p.phone.header_phone
                    i.fas.fa-phone-alt.text_color
                    | 8 800 00 00
                .user_admin.wrap_flex
                    .change_val.wrap_flex
                        .block_change_val
                            i.fa.fa-dollar-sign
                        .block_arrow
                            i.arrow.down
                    .personal
                        a(href="#")
                            i.fa.fa-user
                            | Личный кабинет                                           


        //-     p.pt-2.pb-2.phone.header_phone
        //-         i(class="fas fa-phone-alt pr-2 text_color")
        //-         | 8 800 00 00

        //- .col-xl-8
        //- .col-xl-2
        //-     .choice_val.pt-2.pb-2
        //-         .val
        //-             i(class="fas fa-dollar-sign")
        //-             i(class="far fa-chevron-down")
        //-             img


