@import '_var.scss';
// all header
.header {
    width: 100%;
    height: 43.4375rem;
    background: url('../img/header_bg.png') no-repeat bottom/contain;
    a {
        color: #000;
    }
}

// header-top
.header_top {
    font-size: 0.8125rem;
    width: 100%;
    padding: 1rem 0;
    position: relative;
    &::before {
        display: block;
        content: "";
        height: 1px;
        width: 100%;
        background: $decoration-color;
        position: absolute;
        bottom: 0;
    }
}

.wrap {
    @extend %wrap;
}

.wrap_flex {
    @extend %flexSB;
}

.header_phone {
    i {
        padding-right: 1rem;
    }
}

.main_color {
    @extend %color;
}

.block_arrow {
    position: relative;
    .arrow {
        border: 2px solid $decoration-color;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin: 0 20px 0 10px;
        cursor: pointer;
    }
    .down {
        transform: rotate(45deg);
    }
    &::after {
        display: block;
        content: "";
        width: 1px;
        height: 1rem;
        background: $decoration-color;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.personal {
    i {
        margin: 0 10px 0 20px;
    }
}

// header-center
.header_center {
    width: 100%;
    padding: 1.375rem 0;
}

.center {
    @extend %flex;
    align-items: center;
}

// logo
.block_logo {
    width: 16.5625rem;
}

.logo {
    font-weight: 900;
    font-size: 2.5rem;
    .upper {
        text-transform: uppercase;
    }
}

// block-search
.block_search {
    width: 54%;
    form {
        width: 100%;
        font-size: 0.8125rem;
        border: 1px solid $main-color;
        border-radius: 2rem;
        position: relative;
        input {
            @extend %borderNone;
            width: 65%;
            padding: 1rem;
            border-radius: 2rem 0 0 2rem;
        }
        select {
            @extend %borderNone;
            width: 24%;
            option {
                background: #fff;
                border: none;
                outline: none;
            }
        }
        button {
            @extend %borderNone;
            background: $main-color;
            width: 10%;
            border-radius: 0 2rem 2rem 0;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            i {
                font-size: 1.4rem;
            }
        }
    }
}

// block-cart
.block_cart {
    margin-left: auto;
    .like {
        position: relative;
        @extend %inlineB;
        @extend %marginR;
    }
    .cart {
        position: relative;
        @extend %inlineB;
        @extend %marginR;
    }
    .sum {
        font-size: 0.8125rem;
        width: 5rem;
        @extend %inlineB;
        i {
            @extend %inlineB;
            margin-right: 0.5rem;
        }
        p {
            font-weight: 600;
            @extend %inlineB;
        }
    }
}

.counter_like {
    @extend %counter;
}

.counter_cart {
    @extend %counter;
}

// header nav and slider
.wrap_catal_and_slider {
    @extend %flex;
}

.nav_catalog {
    width: 22.8%;
    .catalog {
        width: 100%;
        background: $main-color;
        color: #fff;
        font-weight: 900;
        margin: 0 auto;
        padding: 1rem 0.8rem;
        border-radius: 10px 10px 0 0;
        i {
            margin-right: 1rem;
        }
    }
    .nav {
        background: #fff;
        border-radius: 0 0 10px 10px;
        font-size: 0.9rem;
        .nav_list {
            width: 100%;
        }
        .list_item {
            width: 90%;
            margin: 0 auto;
            border-bottom: 1px solid $decoration-color;
            &:last-child {
                padding-bottom: 1.6rem;
                border: none;
            }
        }
        .display {
            display: none;
            position: absolute;
            right: -100%;
            color: #fff;
        }
        .nav_link {
            display: block;
            padding: 0.8rem 0;
            text-decoration: none;
            position: relative;
            transition: ease-out .4s;
            &:hover {
                padding-left: 0.8rem;
            }
            &:hover>.block_arrow-right {
                right: 0.2rem;
            }
        }
        .block_arrow-right {
            position: absolute;
            right: 1rem;
            bottom: 50%;
            transform: translateY(50%);
            transition: ease-out .4s;
            .arrow {
                border: 2px solid $decoration-color;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                cursor: pointer;
            }
            .right {
                transform: rotate(-45deg);
            }
        }
        .bold {
            font-weight: 900;
        }
    }
}

.block_nav_and_slider {
    flex: 1;
}

.nav_menu {
    font-size: 0.9rem;
    font-weight: 900;
    li {
        display: inline-block;
        margin: 1.2rem 0 1.2rem 2rem;
    }
    a {
        text-decoration: none;
    }
}